 /* Mirado : Header */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}
body {
    background-color: white;
}

 header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}
 .img {
     width: 120px;
 }

 nav {
     display: flex;
     align-items: center;
     gap: 50px;
 }

 nav .lien ul {
     list-style: none;
     display: flex;
     gap: 40px;
     margin-top: 20px;
     padding-bottom: 20px;
     border-bottom: #5a5a5a 2px solid;
     margin-bottom: 20px;
 }

 nav .lien ul li a {
     text-decoration: none;
     color: #333;
     font-weight: 500;
     position: relative;
     padding-bottom: 5px;
     transition: color 0.3s;
 }

 nav .lien p {
     text-align: center;
 }

 nav .lien ul li a:hover {
     color: #5a5a5a;
 }

 .caddie {
     position: absolute;
     right: 80px;
     text-align: center;
 }

 .caddie {
     width: 50px;
     border: #333 2px solid;
     border-radius: 50px;
     padding: 7px 7px 7px 7px;
     margin-right: 50px;
 }

 .part_one {
     background-color: #dbe1ff;
     text-align: center;
     padding: 60px 20px;
 }

 .part_one h1 {
     font-family: Georgia;
     font-size: 32px;
     color: #1a1a1a;
     font-weight: normal;
     margin-bottom: 20px;
 }

 .part_one h2 {
     font-family: Georgia;
     font-size: 36px;
     color: #1a1a1a;
     margin-bottom: 50px;
     font-weight: bold;
 }

 .collection_ramadan p {
     display: inline;
     background-color: transparent;
     border: 2px solid white;
     color: white;
     font-weight: bold;
     padding: 12px 30px;
     border-radius: 4px;
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 1px;
     transition: all 0.3s ease;
     cursor: pointer;
 }

 .collection_ramadan p:hover {
     background-color: white;
     color: #08082c;
 }

 .container-product .product {
     max-width: 32.5%;
 }

 /* Karinah : part1 */
 .product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


 .produitsrecents .container-product {
     display: flex;
     justify-content: space-between;
     margin-left: 30px;
     margin-right: 30px;
 }

 .produitsrecents .titre {
     display: flex;
     align-items: center;
 }

 .product *,
 .product a {
     display: block;
     margin-bottom: 0px;
 }

 .product .price {
     display: flex;
     max-width: 50%;

 }

 .product .old-price {
     text-decoration: line-through;
     color: grey;
 }

 /* Tefisoa */
 .titre hr {
     width: 43%;
 }

 .container-product .product p {
     border: 1px black solid;
     width: 35%;
     padding: 5px 2px;


 }

 .product a {
     text-decoration: none;
     color: black;
 }

 section .article {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 h2 {
     text-align: center;

 }

 hr {
     width: 600px;
     background-color: black;
     height: 1px;
     margin-top: 35px;
 }

 section .article img {
     width: 420px;
     height: 500px;

 }

 section .article {
     text-align: center;
 }

 section .article p {
     border: 1px black solid;
     width: 35%;
     margin: 0 auto;
     padding: 5px 2px;
 }




 /* Koloina : Formulaire */
 .contact form {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: column;
     margin: 0 auto;
     width: 90%;
     max-width: 500px;
     gap: 20px;
 }

 section .contact form input[type="text"] {
     height: 30px;
     padding: 5px;
     border: #c9c9c9 2px solid;
 }

 section .contact form input[type="submit"] {
     background-color: rgb(197, 197, 255);
     border: none;
     padding-top: 10px;
     padding-bottom: 10px;
     text-transform: uppercase;
     color: white;
     font-weight: bold;
     transition: 0.5s ease-in-out;
 }

 section .contact form input[type="submit"]:hover {
     transform: scale(1.01);
     background-color: rgb(151, 151, 235);
 }

 .contact form textarea {
     width: 510px;
     min-height: 150px;
     height: 150px;
     padding: 5px;
     margin-bottom: 7px;
     color: #c9c9c9;
     border: #c9c9c9 2px solid;
 }

 .contact form h2 {
     text-align: center;
 }

 .contact form label {
     font-weight: bold;
     align-items: left;
     color: #6c5a51;
 }