
.container-product .product{
    max-width: 32.5%;
}
.product img{
    width: 100%;
    width: 475px;
    height: 475px;
    object-fit: cover;
    object-position: center;
}

.produitsrecents .container-product{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.produitsrecents .titre {
    display: flex;
    align-items: center;
}
.product *, .product a{
    display: block;
    margin-bottom: 0px;
}
.product .price{
    display: flex;
    max-width: 50%;
    
}
.product .old-price{
    text-decoration: line-through;
    color: grey;
}
.titre hr{
    width: 43%;
}
.container-product .product p{
    border:1px black solid ;
    width: 35%;
    padding: 5px 2px;

    
}
.product a{
    text-decoration: none;
    color: black;
}
